@page
@model P_Galchis_Cristian.Pages.Obiective.IndexModel

@{
    ViewData["Title"] = "Obiective";
}

<h1>Obiective</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Obiectiv[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obiectiv[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obiectiv[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obiectiv[0].Orar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obiectiv[0].Stil.Denumire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Obiectiv) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orar)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stil.Denumire)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
